/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.register-link a:hover {
    background-color: #e0e0e0;
    text-decoration: underline;
}

/* Estilos específicos de home.html */
a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}

/* Estilos específicos para perfil */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.profile-info {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.info-item {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

.profile-update {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-update h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button.update-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.update-button:hover {
    background-color: #218838;
}

/* Estilos para el modal */
.modal {
    display: none;  /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

/* Estilo para el botón "Cambiar Contraseña" */
.profile-change-password {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

button#change-password-btn {
    background-color: #28a745; /* Fondo verde */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button#change-password-btn:hover {
    background-color: #218838;
}

/* Estilo para el botón "Cerrar sesión" */
.profile-logout {
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 5;
}

.profile-logout button {
    background-color: #dc3545; /* Fondo */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.profile-logout button:hover {
    background-color: #c82333;
}

/* Estilo para grafica "Progreso" */
.profile-progress {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width: 100%;
}
canvas#progressChart {
    max-width: 90%;
    height: 400px;
    margin: 0 auto;
    display: block;
}

/* Estilo para el botón "Volver" */
.profile-back {
    position: absolute;
    top: 20px; /* Ajusta la posición vertical */
    left: 20px; /* Ajusta la posición horizontal */
}

a.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c757d; /* Color de fondo (gris elegante) */
    color: white; /* Color del texto */
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombras suaves */
}

a.back-button:hover {
    background-color: #5a6268; /* Color al pasar el cursor */
    transform: translateY(-2px); /* Efecto de elevación */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Más sombra */
}

/* Estilo para el imc */
.profile-imc {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.profile-imc h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.profile-imc p {
    font-size: 1.1em;
    color: #555;
    margin: 10px 0;
}

.profile-imc span {
    font-weight: bold;
    color: #007BFF;
}











