/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.register-link a:hover {
    background-color: #e0e0e0;
    text-decoration: underline;
}

/* Estilos específicos de home.html */
a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}

/* Estilos específicos para perfil */
.profile-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.profile-info {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.info-item {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

.profile-update {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-update h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button.update-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.update-button:hover {
    background-color: #218838;
}
