<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Perfil de Usuario</title>
    <!-- Vinculamos el archivo CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
</head>
<body>
<div class="container">
    <h1>Perfil de Usuario</h1>
    <div class="profile-container">
        <!-- Información del perfil -->
        <div class="profile-info">
            <h2>Información del Perfil</h2>
            <div class="info-item">
                <label>Nombre de Usuario:</label>
                <span th:text="${user.username}"></span>
            </div>
            <div class="info-item">
                <label>Email:</label>
                <span th:text="${user.email}"></span>
            </div>
            <div class="info-item">
                <label>Edad:</label>
                <span th:text="${user.age}"></span>
            </div>
            <div class="info-item">
                <label>Peso (kg):</label>
                <span th:text="${user.weight}"></span>
            </div>
            <div class="info-item">
                <label>Altura (cm):</label>
                <span th:text="${user.height}"></span>
            </div>
        </div>

        <!-- Formulario de actualización -->
        <div class="profile-update">
            <h2>Actualizar Perfil</h2>
            <form th:action="@{/profile/update}" th:object="${user}" method="post">
                <div class="form-group">
                    <label for="weight">Nuevo peso (kg):</label>
                    <input type="number" id="weight" th:field="*{weight}" step="0.1" required />
                </div>
                <div class="form-group">
                    <label for="height">Nueva altura (cm):</label>
                    <input type="number" id="height" th:field="*{height}" step="0.1" required />
                </div>
                <div class="form-group">
                    <label for="age">Nueva edad:</label>
                    <input type="number" id="age" th:field="*{age}" min="18" max="99" required />
                </div>
                <button type="submit" class="button update-button">Actualizar Perfil</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>
