<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registro</title>
  <!-- Enlace al archivo CSS -->
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Registro de Usuario</h1>
<!-- Botón para ir atrás -->
<div class="profile-back">
  <a th:href="@{/home}" class="button back-button">Inicio Sesion</a>
</div>
<!-- Mensaje global de error -->
<div th:if="${error}" class="error" th:text="${error}"></div>

<form th:action="@{/register}" th:object="${user}" method="post">
  <label for="username">Usuario:</label>
  <input type="text" th:field="*{username}" id="username" required>
  <div th:if="${#fields.hasErrors('username')}" class="error" th:errors="*{username}"></div>

  <label for="email">Email:</label>
  <input type="email" th:field="*{email}" id="email" required>
  <div th:if="${#fields.hasErrors('email')}" class="error" th:errors="*{email}"></div>

  <label for="password">Contraseña:</label>
  <input type="password" th:field="*{password}" id="password" required>
  <div th:if="${#fields.hasErrors('password')}" class="error" th:errors="*{password}"></div>

  <label for="birthdate">Fecha de Nacimiento:</label>
  <input type="date" th:field="*{birthdate}" id="birthdate" required>
  <div th:if="${#fields.hasErrors('birthdate')}" class="error" th:errors="*{birthdate}"></div>

  <label for="weight">Peso (kg):</label>
  <input type="number" th:field="*{weight}" id="weight" step="0.1" min="30" max="300" required>
  <div th:if="${#fields.hasErrors('weight')}" class="error" th:errors="*{weight}"></div>

  <label for="height">Altura (cm):</label>
  <input type="number" th:field="*{height}" id="height" step="0.1" min="100" max="250" required>
  <div th:if="${#fields.hasErrors('height')}" class="error" th:errors="*{height}"></div>

  <button type="submit">Registrar</button>
</form>
<script>
  document.getElementById("registerForm").addEventListener("submit", function(event) {
      let weight = parseFloat(document.getElementById("weight").value);
      let height = parseInt(document.getElementById("height").value);


      if (weight < 30 || weight > 300) {
          alert("El peso debe estar entre 30 y 300 kg.");
          event.preventDefault();
          return;
      }

      if (height < 100 || height > 250) {
          alert("La altura debe estar entre 100 y 250 cm.");
          event.preventDefault();
          return;
      }
  });
</script>
</body>
</html>
