<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Detalles del Plan de Entrenamiento</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<div class="plan-details-container">
  <h2 th:text="${plan.name}"></h2>
  <p class="plan-description" th:text="${plan.description}"></p>

  <div class="plan-info">
    <p><strong>Nivel:</strong> <span th:text="${plan.level}"></span></p>
    <p><strong>Duración:</strong> <span th:text="${plan.duration}"></span> semanas</p>
  </div>

  <h3>Detalles del Plan:</h3>
  <div class="details-box">
    <pre class="details-box" th:utext="${plan.details}"></pre>
  </div>

  <a href="/training-plans" class="return-button">Volver</a>
</div>

</body>
</html>
